.btn {
    padding: 10px 15px;
    color: white;
    background: blue;
}

.outline {
    border: 1px solid blue;
    background-color: white;
}
.primary {
    background-color: blue;
}
.success {
    background-color: green;
}
.warning {
    background-color: yellow;
}